<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h1><a href="#">Welcome to CCHits</a></h1>
                <h4>Where you make the charts</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3>Login to upload and retrieve tracks, to edit existing tracks and to associate tracks to shows.</h3>
                    <p>We use OpenID to authenticate you. OpenID means you don't need to remember a new username and password combination to login, or store a new one somewhere... you just need to remember the login details for the accounts you probably use every day!</p>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-sm-4"><button class="btn btn-oauth btn-google w-100" (click)="loginWith('google');">Google</button></div>
                        <div class="col-12 col-sm-4"><button class="btn btn-oauth btn-yahoo w-100" (click)="loginWith('yahoo');">Yahoo</button></div>
                        <div class="col-12 col-sm-4"><button class="btn btn-oauth btn-launchpad w-100" (click)="loginWith('launchpad');">Launchpad</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
